{%extends 'basic.html'%}
{%block title%}About | Taste, What Else?{%endblock%}
{%block aboutactive%}active{%endblock%}
{%block body%}
<div class="container-fluid">
    <div class="jumbotron mb-0" style=>
        <h1 class="display-4">Taste, What Else?</h1>
        <p class="lead">Welcome to Taste, What else? Find a variety of food recipes.</p>
        <p class="lead">Both AUTHENTIC and DIET recipes.</p>
        <p class="lead">The idea is to make cooking fun and easy so that it can be enjoyed and made by everyone!!</p>
        <p class="lead">Like, Share and Subscribe to our channel and turn on the bell icon for new videos.</p>
        
    </div>
</div>
{%endblock%}